<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ShortLinks | Logique</title>
	<style>
		table, th, td {
		  border: 1px solid black;
		}
	</style>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h1>Bem vindo <span th:text="${user.username}"></span></h1>
	
	<a th:href="@{/logout}">Logout</a><br><br>
	<a th:href="@{/send-link}">Encurtar novo link</a><br><br>
	
	<h3>Links encurtados</h3>
	<table class="table" style="width:50%">
		<tr>
			<th>Original</th>
			<th>Encurtado</th>
		</tr>
		<tr th:each="link: ${user.links}">
			<td> <a th:href="${link.originalUrl}"><span th:text="${link.originalUrl}"></span></a> </td>
			<td> <a th:href="${link.originalUrl}"><span th:text="${link.shortUrl}"></span></a> </td>
		</tr>
	</table>
</body>
</html>